.margin
{
	margin-right: auto;
	margin-left: auto;
}
.main_2
{
	width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}
/*header starts here*/
.header
{
    width: 100%;
    height: 90px;
    background-color: #FFC300;
    clear: both;
    position: relative;
    top: 50px;
    z-index: 7;
}
.logo
{
    background-image: url(../images/two.png);
    width: 200px;
    height: 200px;
    position: absolute;
    left: 30px;
    top: -55px;
}
.logo:hover
{
    cursor: pointer;
    padding: 5px;
}
.header_main
{
    width: 1000px;
    height: 90px;
    background-color: #FFC300;
    z-index: 7;
    clear: both;

}
.box
{
    width: 190px;
    height: 90px;
    /*background-color: #eaa;*/
    float: left;
}
.margin_left
{
    margin-left: 19px;
}
.margin_right
{
    margin-left: -15px;
}
.box_a
{
    width: 174px;
    height: 38px;
    color: #900C3F;
    text-align: center;
    font-size: 29px;
    font-weight: 900;
    font-family: fantasy;
}
.box_b
{
    width: 174px;
    height: 52px;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-family: fantasy;
    font-weight: 900;
}
.box_b:hover
{
   color: #900C3F;  
    cursor: pointer;
}
.social
 {
    font-size: 50px;
    color: #fff;
    margin-top: 31px;
    text-align: center;
    margin-left: 12px;
}
.social:hover
{    
    color: #900C3F;  
    cursor: pointer;
}
.map
{
    color: #900C3F;
    margin-left: 8px;
    font-size: 38px;
}
/*header ends here*/
.body
{
    width: 1000px;
    height: auto;
    /*background-color: #eae;*/
    position: relative;
    top: 50px;
}
.clearfix
{
    clear: both;
}
.empty
{
    width: 1000px;
    height:30px;
   /* background-color: red; */
}
.row
{
    width: 1000px;
    height:90px;
    /*background-color: red;*/
}
.row_1
{
    width: 160px;
    height: 90px;
     background-image: url('../images/bk.jpg');
    color: #fff;
}
.row_2
{
    width: 158px;
    height: 59px;
    position: relative;
    top: 7px;
    font-size: 51px;
    font-family: cursive;
    background-image: url('../images/bk.jpg');
}
.block
{
    width: 1000px;
    height: 100%;
    /*background-color: #eee;*/
}
.block_1
{
    width: 331px;
    height: 312px;
    /*background-color: #ccd;*/
    float: left;
    margin: 1px;
}

.block_2
{
    width: 331px;
    height: 312px;
    /*background-color: #dde;*/
    float: left;
    margin: 1px;
}
.block_3
{
    width: 331px;
    height: 312px;
    /*background-color: #aae;*/
    float: left;
    margin: 1px;
}
.bl_a
{
    width: 300px;
    height: 270px;
    position: relative;
    left: 17px;
    background-image: url(../images/bb_1.jpg);
    display:block;
}

.bl_a:hover {
    opacity: 0.4;
}
.caption{
    width: 304px;
    height: 270px;
    position: absolute;
    right: 342px;
    /*display: none;*/
    /*color: #000;*/
    background: red;
}
.caption p{
    font-size:30px;
    color:#fff;
    font-weight:400;
}
.bl_b
{
    width: 300px;
    height: 42px;
    font-size:  33px;
    font-family: fantasy;
    color: #78281F;
    text-align: center;
}
.footer
{
    width: 100%;
    height: 275px;
    background-image: url('../images/bk.jpg');
    position: relative;
    top: 62px;
}
.ft_wk
{
    width: 900px;
    height: 180px;
    /* background-color: #eee; */
    position: relative;
    top: 60px;
    left: 50px;
}
.f_1
{
    width: 408px;
    height: 112px;
    /* background-color: #aca; */
    color: #fff;
    font-size: 50px;
    font-family: cursive;
    float: left;
    margin: 0px 20px;
    
}
.f_2
{
    font-size: 13px;
    
}
.f_3
{
    width: 400px;
    height: 20px;
    /*background-color: #faf;*/
}
.f3_a
{
    font-size: 10px;
    /*width: 10px;*/
}
.f_a
{
    font-size: 12px;
    font-family: Verdana;
    padding:34px;
}
.fa1
{
    font-size: 35px;
    padding: -10px;
    position: relative;
    bottom: 51px;
    left: 33px;
}
a:link {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #900C3F;
    background-color: transparent;
    text-decoration:none;
}
a:active {
    color: #900C3F;
    background-color: transparent;
    text-decoration: none;
}
.locator
{ 
    color: #fff;
    font-size: 34px;
    text-align: center;   

}